<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wealthify!</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/index.js"></script>
</head>

<body>
  <div class="">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="money">💸</span>
        <a href="/">Wealthify</a>
      </h1>
    </header>
    <main class="menu-items" id="menu-items">
      <!-- Conditionally render login or logout links -->
      {{#if logged_in}}
      <a href="/profile">Profile</a> |
      <button class="" id="logout">logout</button>
      {{else}}
      <a href="/login">Login</a>
      {{/if}} <br>
      <a href="/" class="menu-item">About</a>
      <a href="/" class="menu-item">Contact Us</a>
      {{!-- {{{ body }}} --}}
    </main>
    <div id="menu-background-pattern"></div>
    <div id="menu-background-image"></div>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
