<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wealthify!</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/index.js"></script>
</head>

<body>
  <div class="">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        {{!-- <span role="img" aria-label="money">💸</span> --}}
        Wealthify
      </h1>
    </header>
    <main class="menu-items" id="menu-items">
      <!-- Conditionally render login or logout links -->
      {{#if logged_in}}
      <a class="profile-tab" href="/profile">Profile</a> |
      <button class="logout-button" id="logout">logout</button>
      {{else}}
      <a class="menu-item" href="/login">Login</a>
      {{/if}} <br>
      {{{ body }}}
    </main>
    <div id="menu-background-pattern"></div>
    <div id="menu-background-image"></div>
    <footer>
      <nav class="footer">
        <p>About</p>
        <p>Contact Us</p>
      </nav>
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
