<div class="row">
  <div class="col-md-6">
    <h2 class="login">Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login" class="labelText">email:  </label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login" class="labelText">password:  </label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2 class="login">Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup" class="labelText">name:  </label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup" class="labelText">email:  </label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup" class="labelText">password:  </label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
