<div class="">
  <div class="">
    <h2>Welcome, {{name}}!</h2>
    <h3>Lets get started.
      Wealthify aims to gather some information about
      your income to help generate a budget that can
      not only show you how you can save month to month,
      but also show you how the better visualize your 
      money which can lead to better financial decisions.
      So how does Wealthify do this?
      First...Lets discover what your Gross Monthly Income is.
      Your Gross Monthly Income is a snapshot of the sum of all sources of income
      on a month to month basis after tax. Once we have 
      figured out what your Gross Monthly Income is, enter it HERE
    </h3>
  </div>
</div>

