<div class="">
  <div class="">
    <h2>Welcome, {{name}}!</h2>
      <body>
        <form id="intro">
          <h3>Lets get started.
            Wealthify aims to gather some information about
            your income to help generate a budget that can
            not only show you how you can save month to month,
            but also show you how the better visualize your 
            money which can lead to better financial decisions.
            So how does Wealthify do this?
            First...Lets discover what your Gross Monthly Income is.
            Your Gross Monthly Income is a snapshot of the sum of all sources of income
            on a month to month basis after tax. Once we have 
            figured out what your Gross Monthly Income is, enter it HERE
          </h3>
        </form>
      </body>
      <input type="text" id="myInput" onkeyup="validateinput()"/>
      <button type="button" id="btn1" onclick="getInputValue();">Submit</button>
    </form>
    
  </div>
</div>

<canvas id="myChart" style="width:100%;max-width:600px"></canvas>
