<div class="">
  <div class="">
    <h2>Signup</h2>

    <form class="signup-form">
      <div class="">
        <label for="name-signup">name:</label>
        <input class="" type="text" id="name-signup" />
      </div>
      <div class="">
        <label for="email-signup">email:</label>
        <input class="" type="text" id="email-signup" />
      </div>
      <div class="">
        <label for="password-signup">password:</label>
        <input class="" type="password" id="password-signup" />
      </div>
      <div class="">
        <button class="" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/signup.js"></script>
